<link rel="stylesheet" href="/css/style.css" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <title>Symbiosis Lab Team</title>
</head>
<body>
    <!-- <h1>Hello this is me </h1> -->
    <section class="sec">
        <header>
            <a href="#"><img src="/images/logo.jpg" class="logo" alt=""></a>
            <div class="toggleMenu" onclick="menuToggle();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/whatsnew">What's New</a></li>
                <li><a href="/about2">Web Team</a></li>
                <li><a href="/reachus">About Us</a></li>
            </ul>
        </header>
    
        
            <div class="container-blog slide-up">
                <div class="grid">
                        <div class="blog-card">
                            <div class="card_img">
                                <!-- <img src="https://images.unsplash.com/photo-1624593895161-c2d67791ef7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt=""> -->
                                <img src="/images/mema.jpg" alt="">
                                <!-- <img src="https://images.unsplash.com/photo-1656331797721-b593b8f00297?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmV1cmFsJTIwbGlua3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
                                <!-- <img src="https://images.unsplash.com/photo-1655890006065-edefcd764af6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV1cmFsJTIwbGlua3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
                            </div>
                            <div class="card_body">
                                <!-- <small id="blackc">Travelling</small> -->
                                <h2 class="card_title">Aditya Narayan</h2>
                                <h3 id="card_title">Data Analyst</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum porro, illum totam nostrum sit delectus nisi sint magni perspiciatis adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad!</p>
                                <!-- <p class="card_author">by <a href="#" class="author_link">Saransh Lingwal</a></p> -->
                                <!-- <a href="#" class="read_more">Read article</a> -->
                                <div class="so_link">
                                    <a href=""><i id="so_link" class="fab fa-instagram"></i></a>
                                    <a href=""><i id="so_link" class="fab fa-linkedin"></i></a>
                                    <a href=""><i id="so_link" class="fab fa-twitter"></i></a>
                                    <!-- <a href=""><i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                   
                        <div class="blog-card">
                            <div class="card_img">
                                <!-- <img src="https://images.unsplash.com/photo-1606787619248-f301830a5a57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt=""> -->
                                <!-- <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""> -->
                                <img src="/images/memb.jpg" alt="">
                            </div>
                            <div class="card_body">
                                <!-- <small class="bluec">Coding</small> -->
                                <h2 class="card_title">Dr.Manoj Kumar</h2>
                                <h3 id="card_title">Data Analyst</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio quidem, est labore earum reprehenderit quibusdam id iure delectus nemo.</p>
                                <!-- <p class="card_author">by <a href="#" class="author_link">Anurag Chauhan</a></p> -->
                                <!-- <a href="#" class="read_more">Read article</a> -->
                                <!-- <a href="https//:youtube.com"><i class="fas fa-long-arrow-alt-right"></i></a> -->
                                <div class="so_link">
                                    <a href=""><i id="so_link" class="fab fa-instagram"></i></a>
                                    <a href=""><i id="so_link" class="fab fa-linkedin"></i></a>
                                    <a href=""><i id="so_link" class="fab fa-twitter"></i></a>
                                    <!-- <a href=""><i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                            </div>
                        </div>
        
                        <div class="blog-card">
                            <div class="card_img">
                                <!-- <img src="https://images.unsplash.com/photo-1587772247228-20c9f67a327b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt=""> -->
                                <img src="/images/memc.jpg" alt="">
                            </div>
                        <div class="card_body">
                            <!-- <small class="aquac">Health</small> -->
                            <h2 class="card_title">Bhavya Dang</h2>
                            <h3 id="card_title">Data Analyst</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio quidem, est labore earum reprehenderit quibusdam id iure delectus nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, a?</p>
                            <!-- <p class="card_author">by <a href="#" class="author_link">John Kasparov</a></p> -->
                            <!-- <a href="#" class="read_more">Read article</a> -->
                        <div class="so_link">
                            <a href=""><i id="so_link" class="fab fa-instagram"></i></a>
                            <a href=""><i id="so_link" class="fab fa-linkedin"></i></a>
                            <a href=""><i id="so_link" class="fab fa-twitter"></i></a>
                            <!-- <a href=""><i class="fas fa-long-arrow-alt-right"></i></a> -->
                        </div>
                           
                        </div>
                    </div>
        
                    <div class="blog-card">
                            <div class="card_img">
                                <!-- <img src="https://images.unsplash.com/photo-1587772247228-20c9f67a327b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt=""> -->
                                <img src="/images/memd.jpg" alt="">
                            </div>
                        <div class="card_body">
                            <!-- <small class="aquac">Health</small> -->
                            <h2 class="card_title">Saransh Lingwal</h2>
                            <h3 id="card_title">Data Analyst</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio quidem, est labore earum reprehenderit quibusdam id iure delectus nemo.</p>
                            <!-- <p class="card_author">by <a href="#" class="author_link">John Kasparov</a></p> -->
                            <!-- <a href="#" class="read_more">Read article</a> -->
                            <div class="so_link">
                                <a href=""><i id="so_link" class="fab fa-instagram"></i></a>
                                <a href=""><i id="so_link" class="fab fa-linkedin"></i></a>
                                <a href=""><i id="so_link" class="fab fa-twitter"></i></a>
                                <!-- <a href=""><i class="fas fa-long-arrow-alt-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section> 

    </body>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.toggleMenu');
            const navigation = document.querySelector('.navigation');
            toggleMenu.classList.toggle('active');
            navigation.classList.toggle('active');
        }
    </script>
</html>        