<link rel="stylesheet" href="/css/style.css" type="text/css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYMBIOSIS</title>
</head>

<body>
    <section class="sec">
        <header>
            <a href="#"><img src="/images/logo.jpg" class="logo" alt=""></a>
            <div class="toggleMenu" onclick="menuToggle();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/whatsnew">What's New</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="#">Reach Us</a></li>
            </ul>
        </header>

        <div class="lab-section">
            <div class="labs">
                <img src="/images/lab1.jpg" alt="">
            </div>
            <div class="labcontent">
                <h2>WHAT'S NEw</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptate. Reprehenderit quod
                    quia culpa sit alias necessitatibus earum error id, adipisci praesentium dolore vitae ducimus
                    voluptatum cumque officia exercitationem deleniti tempora la va cuisine da couch.</p>
                <button type="submit" class="button"><a href="/whatsnew">Know more</a></button>
            </div>
        </div>
        
        <ul class="sci">
            <li><a href="#" ><img src="/images/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="/images/instagram.png" alt=""></a></li>
            <li><a href="#"><img src="/images/twitter.png" alt=""></a></li>
        </ul>

    </section>

    <section class="sec">
        <div class="work-section">
            <div class="workcontent">
                <h2>REPORTS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero natus, quisquam nisi quibusdam quo
                    perferendis voluptatum tempora nulla a iste, asperiores inventore omnis voluptatem repellendus
                    aperiam
                    soluta molestias pariatur iure were df adsfdasfjds ex eirjeoi daslfjldksjfksdjakl fj Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Nihil iure voluptates dolores cupiditate pariatur
                    veniam?
                </p>
                <button type="submit" class="button"><a href="/whatsnew">Know more</a></button>
            </div>
            <div class="works">
                <img src="/images/lab2.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- <section id="work">

    </section> -->
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.toggleMenu');
            const navigation = document.querySelector('.navigation');
            toggleMenu.classList.toggle('active');
            navigation.classList.toggle('active');
        }
    </script>
</body>

</html>