<link rel="stylesheet" href="/css/style.css" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whats New</title>
</head>
<body>
    <!-- <h1>This is some thing new </h1> -->
    <section class="sec">
        <header>
            <a href="#"><img src="/images/logo.jpg" class="logo" alt=""></a>
            <div class="toggleMenu" onclick="menuToggle();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/whatsnew">What's New</a></li>
                <li><a href="/about">Web Team</a></li>
                <li><a href="/reachus">About Us</a></li>
            </ul>
        </header>
    </section>
</body>
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector('.toggleMenu');
        const navigation = document.querySelector('.navigation');
        toggleMenu.classList.toggle('active');
        navigation.classList.toggle('active');
    }
</script>
</html>